name: Backend CI/CD to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build backend Docker image
        run: |
          cd backend
          docker build -t todo-backend .

      - name: Tag backend image
        run: |
          docker tag todo-backend:latest \
          179707674760.dkr.ecr.us-east-1.amazonaws.com/todo-backend:latest

      - name: Push backend image to ECR
        run: |
          docker push 179707674760.dkr.ecr.us-east-1.amazonaws.com/todo-backend:latest
