name: Secure Backend CI/CD to ECR (OIDC)

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker image
        run: |
          docker build -t todo-backend .

      - name: Tag Docker image
        run: |
          docker tag todo-backend:latest \
          179707674760.dkr.ecr.us-east-1.amazonaws.com/todo-backend
      - name: Push Docker image to ECR
        run: |
          docker push \
          179707674760.dkr.ecr.us-east-1.amazonaws.com/todo-backend
