name: Frontend CI/CD to ECR

on:
  push:
    branches:
      - main

jobs:
  frontend-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build frontend Docker image
        run: |
          cd frontend
          docker build -t todo-frontend .

      - name: Tag frontend Docker image
        run: |
          docker tag todo-frontend:latest \
          179707674760.dkr.ecr.us-east-1.amazonaws.com/todo-frontend:latest

      - name: Push frontend Docker image to ECR
        run: |
          docker push 179707674760.dkr.ecr.us-east-1.amazonaws.com/todo-frontend:latest
